@font-face {
    font-family: appli-mincho;
    src: url("../font/Appli-Mincho.otf");
}

.color-table-div, .output {
    text-align: center;
}

canvas {
    display: inline-block;
    max-height: 300px;
    margin: 6px;
    margin-top: 10px;
    border-radius: 20px;
    border-bottom: 5px solid #dcdcdc;
    box-shadow: 0px 3px 5px #bdbdbd;
    cursor: pointer;

    transition: box-shadow 0.15s;
}

canvas:hover {
    box-shadow: 0px 3px 5px 3px #ccc;
}



.entries {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.entries > tr {
    font-family: appli-mincho;
}

.entries > thead, .entries td {
    text-align: center;
}

#color-table > tr {
    display : inline-block;
}


.output-settings {
    text-align: center;
}

.output-settings > table {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#width-selector, #height-selector {
    width: 72px;
}

.color-table-div > table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.entries input {
    background-color: #fff;
    border: 1px solid #aaa;
    font-size: 16px;
    max-width: 160px;
}

thead > tr > th {
    padding: 4px 16px;
}

@media(max-width: 1000px) {
    .entries input, input {
        font-size: 28px;
    }
}