@font-face {
    font-family: comfortaa;
    src: url("../font/Comfortaa-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: comfortaa;
    src: url("../font/Comfortaa-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: comfortaa;
    src: url("../font/Comfortaa-Light.ttf");
    font-weight: lighter;
}

body {
    background-color: #eee;
    font-family: comfortaa, sans-serif;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    padding: 8px;
    margin: 16px;
    border-radius: 16px;

    background-color: #fcfcfc;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #008295;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    background-color: #fcfcfc;
    border-radius: 24px;
}

main, nav {
    display: block;
}


main > div {
    margin: 24px 2px;
}

h1 {
    color: #008295;
}

h2 {
    color: #334;
}

h1, h2 {
    text-align: center;
}




.home-link {
    font-size: 24px;
    text-align: center;
}

.sub {
    font-size: 16px;
    font-weight: bold;
}


button {
    background-color: #009fb7;
    color: white;
    border: none;
    transition: background-color;
    transition-duration: 100ms;
}

button:hover {
    cursor: pointer;
    color: #fcfcfc;
    background: #008aa0;
}

button:active {
    background-color: #50c1d3;
}

button, .button-like {
    display: inline-block;
    font-family: comfortaa;
    font-size: 14px;
}

input[type="text"] {
    padding-left: 4px;
    font-family: comfortaa;
}

input[type="checkbox"] {
    display: inline;
}

.add-button {
    background-color: #696773;
}

.delete-button {
    border-radius: 100%;
    background-color: #696773;
    width: 24px;
    height: 24px;
    vertical-align: center;
    text-align: center;
}


.button-like {
    background-color: #ccc;
    transition: background-color 0.15s;
    transition: color 0.15s;
}

.button-like:hover {
    background-color: #bbb;
}

.button-like:hover {
    cursor: pointer;
}

:focus {outline: none;}
::-moz-focus-inner {border:0;}






input[type="color"] {
    background: none;
    border: none;
    width: 48px;
    height: 24px;
}

input[type="color"]:hover {
    cursor: pointer;
}


li a > * {
    display: inline;
}

.output-buttons {
    display: inline-flex;
}

.output-buttons > * {
    margin-left: 2px;
    margin-right: 2px;
}

.icon {
    width: 16px;
}


thead tr {
    background-color: #eee;
}

.inline {
    display: flex;
    flex-direction: row;
}

.inline > * {
    width: 100%;
}

.bigger-input {
    padding: 8px;
    font-size: 16pt;
}

.text-center {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.container > * {
    margin: 10px;
}

.button {
    padding: 8px;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

button.secondary {
    background-color: #444;
    color: #eee;
}

button.secondary:hover {
    background-color: #222;
}

button.secondary:active {
    background-color: #555;
}

.inline.spaced > * {
    margin: 4px;
}

main {
    display: flex;
    flex-direction: column;
}

#voc-helper {
    align-self: center;
    border: none;
    border-radius: 10px;
}

.word {
    font-size: 32pt;
    font-weight: normal;
}

.reading {
    font-weight: normal;
    font-size: 16pt;
    padding: 2px;
}

.word-reading-header .word {
    margin: 0;

    background-color: #444;
    color: #eee;
}

.word-reading-header .reading {
    margin: 0;
    background-color: #666;
    color: #ddd;
}

.word-reading-header {
    margin: 0;
}

.rounded {
    border-radius: 10px;
}

input[type="text"].rounded {
    border-radius: 10px;
    border: 1px solid #444;
}

.rounded-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rounded-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rounded-left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.rounded-right {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#voc-helper {
    background-color: #f3f3f3;
}

.shake {
    animation: shake-animation 400ms ease-in-out;
}

.no-margin {
    margin: 0;
}

.relative {
    position: relative;
}

#indicator {
    color: #c51a1a;
    font-size: 12pt;
    position: absolute;
    top: -16pt;
    right: 0;
}

.fit {
    width: fit-content;
    height: fit-content;
}

.self-center {
    align-self: center;
}

.border-right {
    border-right: 1px solid #bbb;
}

.prev-next-width {
    width: 96px;
}

@keyframes shake-animation {
    0% {
        transform: translateX(0px);
    }
    10% {
        transform: translateX(20px);
    }
    20% {
        transform: translateX(-20px);
    }
    30% {
        transform: translateX(15px);
    }
    40% {
        transform: translateX(-15px);
    }
    50% {
        transform: translateX(12px);
    }
    60% {
        transform: translateX(-12px);
    }
    70% {
        transform: translateX(9px);
    }
    80% {
        transform: translateX(-9px);
    }
    90% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(-5px);
    }
}


@media(max-width: 1400px) {
    nav {
        position: static;
    }
}

@media(max-width: 1000px) {
    h1 {
        font-size: 54px;
    }

    h2 {
        font-size: 42px;
    }

    .home-link {
        font-size: 40px;
    }

    body, p, .sub, button, .button-like {
        font-size: 28px;
    }

    input[type="color"] {
        background: none;
        border: none;
        width: 128px;
        height: 64px;
    }

    .delete-button {
        width: 64px;
        height: 64px;
    }

    nav, main {
        max-width: none;
        padding: 0;
        border-radius: 0%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .prev-next-width {
        width: 160px;
    }
}

.icon-16 {
    width: 16px;
    height: 16px;
}