@font-face {
    font-family: comfortaa;
    src: url("../font/Comfortaa-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: comfortaa;
    src: url("../font/Comfortaa-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: comfortaa;
    src: url("../font/Comfortaa-Light.ttf");
    font-weight: lighter;
}

body {
    background-color: #eee;
    font-family: comfortaa, sans-serif;
}

nav {
    display: flex;
    flex-direction: column;

    top: 0;
    left: 0;
    padding: 1em;
    position: fixed;
    margin: 16px;
    border-radius: 16px;

    background-color: #fcfcfc;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #008295;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    background-color: #fcfcfc;
    border-radius: 24px;
}

main > div {
    margin: 24px 2px;
}

h1 {
    color: #008295;
}

h2 {
    color: #334;
}

h1, h2 {
    text-align: center;
}




.home-link {
    font-size: 1.5em;
    text-align: center;
}

.sub {
    font-size: 1.3em;
    font-weight: bold;
}

nav a {
    font-size: 1.1em;
}


button {
    background-color: #009fb7;
    color: white;
    border: none;
    transition: background-color;
    transition-duration: 100ms;
}

button:hover {
    cursor: pointer;
    color: #fcfcfc;
    background: #008aa0;
}

button:active {
    background-color: #50c1d3;
}

button, .button-like {
    display: inline-block;
    font-family: comfortaa;
}

input[type="text"] {
    padding-left: 4px;
    font-family: comfortaa;
}

input[type="checkbox"] {
    display: inline;
}

.add-button {
    background-color: #696773;
}

.delete-button {
    border-radius: 100%;
    background-color: #696773;
    width: 24px;
    height: 24px;
    vertical-align: center;
    text-align: center;
}


.button-like {
    background-color: #ccc;
    transition: background-color 0.15s;
    transition: color 0.15s;
}

.button-like:hover {
    background-color: #bbb;
}

.button-like:hover {
    cursor: pointer;
}

:focus {outline: none;}
::-moz-focus-inner {border:0;}






input[type="color"] {
    background: none;
    border: none;
    width: 48px;
    height: 24px;
}

input[type="color"]:hover {
    cursor: pointer;
}


li a > * {
    display: inline;
}

.output-buttons {
    display: inline-flex;
}

.output-buttons > * {
    margin-left: 2px;
    margin-right: 2px;
}

.icon {
    width: 16px;
}


thead tr {
    background-color: #eee;
}

.inline {
    display: flex;
    flex-direction: row;
}

.inline > * {
    width: 100%;
}

button, input[type="text"] {
    padding: 0.4em;
    font-size: 1em;
}

.text-center {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.container > * {
    margin: 10px;
}


.invisible {
    visibility: hidden;
}



button.secondary {
    background-color: #444;
    color: #eee;
}

button.secondary:hover {
    background-color: #222;
}

button.secondary:active {
    background-color: #555;
}

.inline.spaced > * {
    margin: 4px;
}

main {
    display: flex;
    flex-direction: column;
}

#voc-helper {
    align-self: center;
    border: none;
    border-radius: 10px;
}

.word {
    font-size: 2.25em;
    font-weight: normal;
}

.reading {
    font-weight: normal;
    font-size: 1.5em;
    padding: 2px;
}

.word-reading-header .word {
    margin: 0;

    background-color: #444;
    color: #eee;
}

.word-reading-header .reading {
    margin: 0;
    background-color: #666;
    color: #ddd;
}

.word-reading-header {
    margin: 0;
}



input[type="text"] {
    border: 1px solid #444;
}

.rounded {
    overflow: hidden;
    border-radius: 0.5rem;
}

.rounded-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.rounded-bottom {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.rounded-left {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.rounded-right {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#voc-helper {
    background-color: #f3f3f3;
}

.shake {
    animation: shake-animation 400ms ease-in-out;
}


.relative {
    position: relative;
}

#indicator {
    color: #c51a1a;
    font-size: 0.75em;
    position: absolute;
    top: -1.1em;
    right: 0;
}

.fit {
    width: fit-content;
    height: fit-content;
}

.self-center {
    align-self: center;
}

.border-right {
    border-right: 1px solid #bbb;
}

.prev-next-width {
    width: 5em;
}

@keyframes shake-animation {
    0% {
        transform: translateX(0px);
    }
    10% {
        transform: translateX(20px);
    }
    20% {
        transform: translateX(-20px);
    }
    30% {
        transform: translateX(15px);
    }
    40% {
        transform: translateX(-15px);
    }
    50% {
        transform: translateX(12px);
    }
    60% {
        transform: translateX(-12px);
    }
    70% {
        transform: translateX(9px);
    }
    80% {
        transform: translateX(-9px);
    }
    90% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(-5px);
    }
}



.icon-16 {
    width: 16px;
    height: 16px;
}

.centered {
    align-items: center;
}

button {
    font-size: 1em;
    padding: 0.3em;
}


.japanese-word-entry {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;

    background-color: #eee;
}

.japanese-word-entry > li {
    padding: 0.75em;
    display: flex;
    align-items: center;

    border: 2px solid white;
}

.japanese-word-entry > li.word {
    font-size: 1em;
    color: black;
    width: 20%;
}

.japanese-word-entry > li.word.two-cells {
    width: 50%; /* 20% + 30% */
}

.japanese-word-entry > li.reading {
    font-size: 1em;
    color: #333;
    width: 25%;
}

.japanese-word-entry > li.meanings {
    width: 40%;
}

.japanese-word-entry > li.delete-entry-button {
    width: 10%;
}





.unstyled-list {
    list-style: none;
    padding: 0;
}

.vertically-spaced {
    display: flex;
    flex-direction: column;
}
.vertically-spaced > * {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

input[type="checkbox"] {
    min-width: 16px;
    min-height: 16px;
}

@media(max-width: 1400px) {
    nav {
        position: static;
    }
}

@media(max-device-width: 1000px) {

    html {
        font-size: 2.5em;
    }

    input[type="color"] {
        background: none;
        border: none;
        width: 128px;
        height: 64px;
    }

    input[type="text"], input[type="number"] {
        font-size: 1.3em;
        padding: 0.3em;
    }

    .delete-button {
        width: 64px;
        height: 64px;
    }

    nav, main {
        max-width: none;
        border-radius: 0%;
        margin-left: 0px;
        margin-right: 0px;
    }

    body {
        margin: 0;
    }

    nav {
        margin-top: 0;
    }

    .japanese-word-entry {
        flex-direction: column;
    }

    .japanese-word-entry > li {
        width: 100% !important;
    }

    input[type="checkbox"] {
        min-width:  36px;
        min-height: 36px;
    }

    table.entries input[type="checkbox"] {
        min-width:  54px;
        min-height: 54px;
    }
}


.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.scrollable-x {
    overflow-x: auto;
}

.entries th {
    background: #eee;
}

.clickable {
    cursor: pointer;
}

.closed::after{
    content: ' ▸';
}

.opened::after {
    content: ' ▾'
}

.hidden {
    display: none;
}